<section class="title-row">
  <div class="title-container">
    <h1> Add a new entry to your journal </h1>
  </div>
</section>

<main class="create-trip">
  <div class="new-trip-form">
    <form action="/trips" method="POST">
      <label>Date Camped:</label>
      <input type="text" name="trip[date_camped]"><br>
      <br>
      <label>National Park, Forest, Monument or BLM area:</label>
      <input type="text" name="trip[park]"><br>
      <br>
      <label>Campground Name:</label>
      <input type="text" name="trip[campground]"><br>
      <br>
      <label>Notes:(Optional but encouraged)</label><br>
      <p>Write a brief review of your experience.</p>
      <textarea rows="8" cols="50" name="trip[notes]">
      Love itor hate it? Did the park and/or campground have any special views, amenities, or other features?
      </textarea><br>
      <br>
      <p>Select where you would like to store this entry:</p>

      <div class="radio-buttons">
        <input type="radio" id="visited" name="trip[visited]" value="true"
              checked>
        <label for="visited">Add to Journal</label>
        <input type="radio" id="not_visited" name="trip[visited]" value="false">
        <label for="not_visited">Add to Camping Bucket List</label>
      </div>
      <input type="submit" value="Submit Entry">
    </form>
  </div>
</main>


