
  <div class="hero-text">
    <h2>Welcome to CampTales</h2>
    <p>Keep track of where you have camped and where you plan to camp</p>
    <button><a href="/login">Log in</a></button>
    <button><a href="/signup">Sign up</a></button>
  </div>
</div>
</header>
<%# 
<div class="container">
  <header><img src="images/IMG_0947.JPG" class="header_image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Camp Tales: the camping journal app</h2>

    <div class="content">
      <p>Hello fellow campers!</p>
    </div>

    <div class="sidebar">
      <ul>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    </div>

  </div>
</div> 

  %>
