<section class="container">
  <div class="welcome">
    <h2>Welcome to CampTales</h2>
    <p>Keep track of where you have camped and where you plan to camp</p>
    <button><a href="/login">Log in</a></button>
    <button><a href="/signup">Sign up</a></button>
  </div>
  </section>
