<h1> Log in to view your Journal </h1>
<form method="post" action="/login">
  <label>Username: </label>
  <input type="text" name="username" id="username" >

  <label>Password: </label>
  <input type="text" name="password" id="password">

  <input type="submit" value="Log In">
</form>