<main class="container">
    <h1>Sign up to create your camping journal</h1>
  <div class="signup form">
    <form method="POST" action="/signup">

      <label>Email  </label>
      <input type="text" name="camper[email]"><br>

      <label>Username </label>
      <input type="text" name="camper[username]"><br>

      <label>Password  </label>
      <input type="password" name="camper[password]"><br>
      <input class="button" type="submit" value="Sign Up">
    </form>
  </div>
</main>